*{
    padding: 0;
    margin: 0;
}
.clr{
    clear:both
}
#main-header {
    background-color:rgb(46, 43, 43);
    padding: 5px 10px 5px 100px;
    width: 100%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    color: white;
}
#main-header h1{
    display: inline;
    padding: 10px;
}
a{
    text-decoration: none;
    color:black
}
a:hover{
    color: black;
    text-decoration: none;
}
.navbar a:hover{
    color: white;
}
.navbar{
    width: 100%;
    padding: 15px;
    font-family: 'Courier New', Courier, monospace;  
    font-weight:500; 
    background-color:rgb(219, 66, 27);
}
.nav-item{
    padding: 0px 20px;
    font-size:larger;
}
.carousel-inner img{
    width: 100%;
    height: 100%;
}
.carousel-caption{
    position: absolute;
    top: 57%;
    transform: translateY(-50%);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    text-shadow: 3px 3px black;
} 
.carousel-captions{
    position: absolute;
    top: 90%;
    transform: translateY(-50%);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.carousel-caption h1{
    font-family:fantasy;
} 
hr{
    width: 85%;
    margin: 0 100px;
    padding: 10px;   
}
h2{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    padding: 80px 20px 20px 20px;
    color: black;
} 
h3{
    font-family:fantasy;
    font-size: 30px;
    text-align: center;
    padding: 20px 20px 0 20px;
    color: black;
} 
.card a:hover{
   text-decoration:underline;
}
.card{
    border: none;
    padding: 15px;
}
.card img{
    border-radius: 3px;
}
.cards{
    padding: 20px 120px;
}
.card-body{
    border: 1px solid black;
    margin-top: 10px;
    border-radius: 3px;
}
.card small{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.buttons a{
    color: white;
}
.buttons{
    background-color:black;
    border: 1px black solid;
    width: 5%;
    padding: 5px;
    margin: 10px 1000px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.block{
    background-color: rgb(139, 166, 218);
    padding: 20px 0px 20px 50px;
    margin-top:60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
.block input[type="text"]{
    padding: 5px;
    width: 150%;
    border: 1px black solid;
}
.block-inner{
    padding: 70px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.buttonz{
    background-color: black;
    width: 25%;
    padding: 5px;
    margin: 5px 0px 5px 120px;
    display: inline;
    border-radius: 7px;
    border: black solid;
}
#main-footer{
    background-color:black;
    padding: 10px;
    text-align: right;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    color:white;
}
@media (max-width: 992px) {
    .buttons{
        margin: 15px 800px 5px;
        padding: 5px;
        width: 7%;
    }
    h3{
        font-size: 25px;
    }
    .cards{
        padding: 20px 90px;
    }
    .card small{
        padding: 3px;
        font-size: 11px;
    }
    .block{
        padding: 20px 0px 20px 20px;
        margin-top:20px;
        font-size: 17px;
    }
    .block input[type="text"]{
        padding: 5px;
        width: 180%;
    }
    .block-inner{
        padding: 60px;
    }
    .block-inner h4{
        font-size: 20px;
    }
    .buttonz{
        width: 25%;
        padding: 4px;
        display: inline;
        margin: 5px 0px 5px 170px;
    }
    hr{
        width: 80%;
    }
}
@media (max-width: 768px) {
    .carousel-caption{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    } 
    .carousel-caption h1{
        font-size: 35px;
    } 
    .buttons{
        margin: 15px 600px 5px;
        padding: 5px;
        width: 8%;
    }
    h3{
        font-size: 30px;
    }
    .card small{
        font-size: 13px;
    }
    .block{
        padding:20px;
        margin-top:20px;
        font-size: 18px;
    }
    .block input[type="text"]{
        padding: 5px;
        width: 130%;
    }
    .block img{
        padding: 0%;
        margin: 0 20px;
        display: inline;
    }
    .block-inner h4{
        font-size: 20px;
    }
    .block-inner{
        padding: 60px 25px;
    }
    .buttonz{
        width: 30%;
        padding: 3px;
        margin: 5px 0px 5px 70px;
        display: inline;
    }
    hr{
        width: 72%;  
    }

}
@media (max-width: 576px) {
    .carousel-caption{
        position: absolute;
        top: 30%;
        transform: translateY(-50%);
    } 
    .carousel-caption h1{
        font-size: 30px;
    } 
    h3{
        font-size: 28px;
    }
    .buttons{
        margin: 5px 350px 5px;
        padding: 5px;
        width: 12%;
    }
    .block-inner{
        padding: 20px;
    }
    .block-inner h4{
        font-size: 18px;
    }
    .block input[type="text"]{
        width: 100%;
    }
    .block{
        padding: 20px;
        font-size: 17px;
    }
    .buttonz{
        margin: 10px 20px 20px 20px;  
        padding: 3px;
        width: 30%;
    }
    h2{
        font-size: 30px;
    }
    hr{
        width: 57%;  
    }
}